body {
  background-color: $stone-40;
  background-image: url(../img/great-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  color: $dark-grey;

  @media (max-width: $screen-sm-max) {
    font-size: 14px;
  }
}

a {
  &:hover, &:focus, &:active {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
  }
}

h2 {
  font-size: 24px;

  @media (max-width: $screen-sm-max) {
    font-size: 18px;
  }
}

.container {
  @media (max-width: $screen-xs-max) {
    margin: 0 15px;
  }
}

.great-brand {
  text-align: center;

  img {
    width: 270px;
    height: auto;
    margin-bottom: -20px;
  }
}

.great-hero {
  background-color: $great-blue;
  background-color: rgba(30, 19, 72, 0.8);
  color: $white;
  padding: 40px 0 80px 0;

  h1 {
    font-size: 55px;
    font-weight: 700;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  p {
    font-size: 21px;
    // border-bottom: 1px solid $white;
    font-weight: 300;
    line-height: 1.4;
    padding: 20px 0 0 0;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }
}

.great-tiles-wrapper {
  position: relative;
  top: -50px;
}

.great-tile {

  background-color: $white;
  margin: 0 0 30px 0;
  padding: 15px;
  float: left;
  width: 100%;
  position: relative;

  &--half {
    margin-right: 4%;
    width: 48%;
  }

  &--third {
    margin-right: 4%;
    width: 30.66666667%;
  }

  &--quarter {
    margin-right: 4%;
    width: 22%;
  }

  &-omega {
    margin-right: 0 !important;
  }

  &--sub-tile {
    background-color: $stone-40;
    border: 1px solid $stone;
    // margin-right: 1%;
    width: 32.66666667%;
    margin: 15px 1% 0 0;
  }

  h1, h2, h3 {
    margin-top: 0;
  }

  @media (max-width: $screen-xs-max) {
    width: 100% !important;
    margin-right: 0;
  }

  .great-btn {
    position: absolute;
    bottom: 15px;
  }

}

.great-current-locale {
  position: relative;
  margin: 0 0 20px 60px;
  display: inline-block;

  .great-flag-circle {
    top: -10px;
  }
}

.great-locale-selector {
  margin-top: 40px;
  background-color: $stone-40;
  color: $dark-grey;

  &__help-ext {
    display: block;
    font-weight: normal;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding: 15px 0 0 0;
    overflow: hidden;
  }

  li {
    margin-top: 16px;
    margin-bottom: 60px;

    a {
      text-decoration: none;
      font-weight: bold;
      color: $dark-grey;
      display: inline-block;
      position: relative;
      margin-left: 50px;

      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $link-blue-hover;
        border-bottom: 1px solid;
        padding-bottom: 0px;
        margin-bottom: -1px;
      }
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 28px;
    }
  }
}

.section {
  width: 100%;
  background-color: $white;

  &--stone-40 {
    background-color: $stone-40;
  }

  &--great-cta {
    background-color: transparent;
    padding: 150px 0;
  }
}

.great-cta-block {
  background-color: $great-blue;
  background-color: rgba(30, 19, 72, 0.8);
  color: $white;
  padding: 30px 15px;

  h1, h2, h3 {
    margin: 0;
  }

  h2 {
    font-size: 24px;
  }
}

a.great-btn, .great-btn {
  padding: 15px 20px;
  display: inline-block;
  border: 3px solid $link-blue;
  color: $link-blue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: $link-blue;
    color: $white;
  }

  &--white {
    border: 3px solid $white;
    color: $white;

    &:hover {
      text-decoration: none;
      background-color: $white;
      color: $link-blue;
    }
  }
}

.great-flag-circle {
  width: 50px;
  height: 40px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: -50px;

  &--br {
    background-image: url(../media/flags/flag-br.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-br.png', sizingMethod='scale');    //fallback for IE8
  }

  &--cn {
    background-image: url(../media/flags/flag-cn.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-cn.png', sizingMethod='scale');    //fallback for IE8
  }

  &--de {
    background-image: url(../media/flags/flag-de.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-de.png', sizingMethod='scale');    //fallback for IE8
  }

  &--es {
    background-image: url(../media/flags/flag-es.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-es.png', sizingMethod='scale');    //fallback for IE8
  }

  &--jp {
    background-image: url(../media/flags/flag-jp.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-jp.png', sizingMethod='scale');    //fallback for IE8
  }

  &--in {
    background-image: url(../media/flags/flag-in.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-in.png', sizingMethod='scale');    //fallback for IE8
  }

  &--us {
    background-image: url(../media/flags/flag-us.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-us.png', sizingMethod='scale');    //fallback for IE8
  }

  &--uk {
    background-image: url(../media/flags/flag-uk.svg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src=$assets + '/media/flags/flag-uk.png', sizingMethod='scale');    //fallback for IE8
  }
}

.great-footer {
  background-color: $great-blue;
  padding: 50px 0;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--list {
    padding-left: 0;

    li {
      display: inline-block;
      height: 25px;
      padding: 0px 12px 0 8px;
      border-right: 1px solid $white;
      &:last-of-type {
        border-right: 0 solid $white;
      }
    }
  }

  &--logo {
    display: block;
    height: 27px;
    width: auto;
    //margin-top: 35px;
  }

  @media (max-width: $screen-xs-max) {
    height: 100%;
  }
}

.list-unstyled {
  font-size: 14px;
}

.util {
  &-padd {
    &-top {
      //
    }

    &-bottom {
      &--btn {
        padding-bottom: 90px;
      }
    }
  }

  &-mar {
    &--0 {
      margin: 0 !important;
    }
  }

  &-font-size--body {
    font-size: 16px;
  }
}

.breadcrumb--great {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid $link-blue;
}

.image-link {
  display: inline-block;
  &:hover, &:focus, &:active {
    // text-decoration: none;
    border-bottom: 0px solid transparent !important;
    padding-bottom: 0px !important;
  }
}

.dit-hmg {
  &-container {
    min-height: 40px;
    background-color: #333;
    width: 100%;
    // position: absolute;
    // top: 0;
    // z-index: 1;
  }

  &-logo {
    height: 24px;
    margin-top: 8px;
    margin-left: -2px;
    float: left;
    margin-right: 20px;
  }
}

.dit-beta-block {
  margin-top: 11px;
  font-weight: 100;
  font-size: 14px;

  a {
    color: $white;
    // border-bottom: 1px solid;
    padding-bottom: 2px;
  }

  &__icon {
    margin-right: 10px;
    margin-top: -2px;
    padding: 4px 10px;
    font-size: 12px;
    height: 23px;
    background-color: #fd7521;
    color: $white;
    float: left;
  }

}






