//_colours.scss

$white: #fff;
$great-blue: #1E1348;
$flag-red: #B00D23;
$red-text-colour: #E41F13;
$stone: #DFD5C5;
$stone-40: #F5F2ED;
$dark-grey: #4A4A4A;
$link-blue: #00549F;
$link-blue-hover: #23527c;
