<nav class="great-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <ul class="great-footer--list">
                    <li><a href="/{{locale.country}}/terms-and-conditions">{{labels.terms_and_conditions}}</a></li>
                    <li><a href="/{{locale.country}}/privacy-policy">{{labels.privacy_policy}}</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-1 col-xs-4 col-xs-offset-4">
                <a href="https://www.gov.uk" target="_blank" class="image-link"><img src="/assets/img/hmg-logo.png" class="great-footer--logo" alt="HM Government"></a>
                <ul class="list-unstyled">
                    <li>&copy; Crown copyright</li>
                </ul>
            </div>
        </div>
    </div>
</nav>