    <div class="section section--great-cta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 great-cta-block">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>{{pageFooter.content.contents | safe }}</h2>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="{{pageFooter.link_target}}" class="great-btn great-btn--white">{{labels[pageFooter.link_label]}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
