        <div class="great-locale-selector">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <h3>Choose your country</h3>
                         <ul class="row">
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/uk"><span class="great-flag-circle great-flag-circle--uk"></span>United Kingdom</a></li>
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/us"><span class="great-flag-circle great-flag-circle--us"></span>United States</a></li>
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/cn"><span class="great-flag-circle great-flag-circle--cn"></span>中国</a></li>
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/in"><span class="great-flag-circle great-flag-circle--in"></span>India</a></li>
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/de"><span class="great-flag-circle great-flag-circle--de"></span>Deutschland</a></li>
                            <li class="col-xs-12 col-sm-6 col-md-4"><a href="/int" class="util-mar--0">I'm in another country <span class="great-locale-selector__help-ext">view in international (English)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
