<div class="dit-hmg-container">
    <div class="container">
        <a href="/" class="visible-xs-inline-block"
           style="float: right;background: transparent;" data-toggle="modal" data-target="#languageSelectorXs" data-remote="false">
            <div class="dit-nav-language">
                <div class="dit-nav-language-wrapper">
                    <div class="dit-icon-xs dit-icon-language"></div>
                    <div class="dit-language">{{locale.language}}</div>
                </div>
            </div>
        </a>
        <div class="row">
            <div class="col-sm-6">
                <a href="https://www.gov.uk/" target="_blank">
                    <img class="dit-hmg-logo" src="/{{assets}}/img/hmg-logo.png" alt="HMG Logo">
                </a>
                <div class="dit-beta-block"><a href="beta"><span class="dit-beta-block__icon">BETA</span> This is a new service.</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hidden-xs " id="langsel-collapse-1">
                    <a href="/"
                       data-toggle="modal"
                       data-target="#languageSelector"
                       data-remote="false">
                        <div class="dit-nav-language">
                            <div class="dit-nav-language-wrapper">
                                <div class="dit-icon-xs dit-icon-language"></div>
                                <div style="vertical-align: middle"><span class="dit-language">{{locale.language}}</span> - {{locale.countryName}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

